/* navbar styles */
.navbar {
    width: 100%;
    background: #abd0f1;
    padding: 20px 10px;
    box-sizing: border-box;
  }
  .navbar ul {
    display: flex;
    margin: 0 auto;
    max-width: 960px;
    align-items: center;
    
  }
  .title {
    margin-right: auto;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.2em;
  }

  .navbar button, .navbar a {
    margin-left: 16px;
    /* border: 1px solid rgb(14, 86, 145);; */
    padding: 6px 12px;
    border-radius: 4px;
    text-decoration: none;
  }
  .navbar a:hover{
    color: azure;
    background-color:  rgb(68, 117, 156);;
  }
 
 